body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(to right, #000000 20%, #25412b 40%, #25412b 60%, #000000 80%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Gradient fixieren */
}

.logo {
  position: fixed;          /* Logo fixiert im Viewport */
  top: 50%;                 /* vertikal zentrieren */
  left: 50%;                /* horizontal zentrieren */
  transform: translate(-50%, -50%); /* exakte Mitte */
  width: 20vw;              /* skalierbar */
  height: auto;             /* proportional */
  z-index: 10;              /* sicherstellen, dass es über allem liegt */
}
